DJANGO_SETTINGS_MODULE=bar.settings_prod
BAR_PROJECT_DIR=/srv/bar/app
BAR_VENV_DIR=/srv/bar/app/.venv
BAR_ENV_FILE=/etc/bar/bar.env
BAR_SECRET_KEY=cambia-esta-clave-por-una-larga-y-unica
BAR_ALLOWED_HOSTS=bar.iagmexico.com
BAR_CSRF_TRUSTED_ORIGINS=https://bar.iagmexico.com
BAR_DB_ENGINE=django.db.backends.mysql
BAR_DB_NAME=bar_db
BAR_DB_USER=bar_user
BAR_DB_PASSWORD=cambia-esta-password
BAR_DB_HOST=127.0.0.1
BAR_DB_PORT=3306
BAR_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
BAR_EMAIL_HOST=sandbox.smtp.mailtrap.io
BAR_EMAIL_HOST_USER=
BAR_EMAIL_HOST_PASSWORD=
BAR_EMAIL_PORT=2525
BAR_EMAIL_USE_TLS=True
BAR_GUNICORN_BIND=unix:/run/gunicorn-bar.sock
BAR_GUNICORN_WORKERS=3
BAR_GUNICORN_WORKER_CLASS=sync
BAR_GUNICORN_TIMEOUT=120
BAR_GUNICORN_GRACEFUL_TIMEOUT=30
BAR_GUNICORN_KEEPALIVE=5
BAR_GUNICORN_ACCESSLOG=/var/log/bar/gunicorn-access.log
BAR_GUNICORN_ERRORLOG=/var/log/bar/gunicorn-error.log
BAR_SESSION_COOKIE_SECURE=True
BAR_CSRF_COOKIE_SECURE=True
BAR_SECURE_SSL_REDIRECT=True
BAR_SECURE_HSTS_SECONDS=31536000
BAR_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
BAR_SECURE_HSTS_PRELOAD=True
