DJANGO_SETTINGS_MODULE=bar.settings_prod
BAR_SECRET_KEY=cambia-esta-clave-por-una-larga-y-unica
BAR_ALLOWED_HOSTS=bar.iagmexico.com
BAR_CSRF_TRUSTED_ORIGINS=https://bar.iagmexico.com
BAR_DB_ENGINE=django.db.backends.mysql
BAR_DB_NAME=bar_db
BAR_DB_USER=bar_user
BAR_DB_PASSWORD=cambia-esta-password
BAR_DB_HOST=127.0.0.1
BAR_DB_PORT=3306
BAR_SESSION_COOKIE_SECURE=True
BAR_CSRF_COOKIE_SECURE=True
BAR_SECURE_SSL_REDIRECT=True
BAR_SECURE_HSTS_SECONDS=31536000
BAR_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
BAR_SECURE_HSTS_PRELOAD=True
