BAR_DEBUG=False
BAR_SECRET_KEY=cambia-esta-clave
BAR_ALLOWED_HOSTS=bar.iagmexico.com
BAR_CSRF_TRUSTED_ORIGINS=https://bar.iagmexico.com
BAR_DB_ENGINE=django.db.backends.mysql
BAR_DB_NAME=bar_db
BAR_DB_USER=bar_user
BAR_DB_PASSWORD=cambia-esta-password
BAR_DB_HOST=127.0.0.1
BAR_DB_PORT=3306
BAR_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
BAR_EMAIL_HOST=sandbox.smtp.mailtrap.io
BAR_EMAIL_HOST_USER=
BAR_EMAIL_HOST_PASSWORD=
BAR_EMAIL_PORT=2525
BAR_EMAIL_USE_TLS=True
BAR_SESSION_COOKIE_SECURE=True
BAR_CSRF_COOKIE_SECURE=True